<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="application.socket.listen.ip" value="127.0.0.1" />
		<add key="application.socket.listen.port" value="21119" />

		<add key="application.socket.master.server.ip" value="127.0.0.1" />
		<add key="application.socket.master.server.receive.port" value="33334" />
		<add key="application.socket.master.server.send.port" value="33333" />
		<!--add key="application.socket.master.server.port" value="21119" /-->

		<add key="api.kiwoom.conn.id" value="tramp010" />
		<add key="api.kiwoom.server.message.package.name" value="com.seomse.stock.kiwoom.api.message"/>
    </appSettings>
</configuration>